body {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  background-image: url('back.webp');
  margin: auto;
  color: #ff85cc;
}
#title {
  font-size: 170px;
  color: #ff85cc;
  padding-left: 30px;
}
h3 {
  font-size: 70px;
  color: #ff85cc;
  padding-left: 30px;
}
h2 {
  font-size: 40px;
}
